{% if default_license == "OPL-1" -%}
Odoo Proprietary License v1.0 (OPL-1)

Copyright (c) {{ org_name }}

This software and associated files (the "Software") may only be used
(executed, modified, executed after modifications) if you have purchased a
valid license from the authors, typically via Odoo Apps, or if you have
received a written agreement from the authors of the Software (see the
COPYRIGHT file).

You may develop Odoo modules that use the Software as a library (typically by
depending on it, importing it and using its resources), but without copying
any source code or material from the Software. You may distribute those
modules under the license of your choice, provided that this license is
compatible with the terms of the Odoo Proprietary License (For example:
LGPL, MIT, or proprietary licenses similar to this one).

It is forbidden to publish, distribute, sublicense, or sell copies of the
Software or modified copies of the Software.

The above copyright notice and this permission notice must be included in
all copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
THE SOFTWARE.
{%- elif default_license == "LGPL-3" -%}
This repository is licensed under the GNU Lesser General Public License v3.0.

See https://www.gnu.org/licenses/lgpl-3.0.txt for the full text.

Copyright (c) {{ org_name }}
{%- elif default_license == "AGPL-3" -%}
This repository is licensed under the GNU Affero General Public License v3.0.

See https://www.gnu.org/licenses/agpl-3.0.txt for the full text.

Copyright (c) {{ org_name }}
{%- else -%}
Proprietary license.

Copyright (c) {{ org_name }}. All rights reserved.

Unauthorized copying, modification, distribution or use of this software,
via any medium, is strictly prohibited without the express written consent
of {{ org_name }}.
{%- endif %}
