# Do not manually change this file. Managed by `copier update`.
# Copier's to_nice_yaml serialises empty strings as `''`; A1 style is `""`.
{{ (_copier_answers|to_nice_yaml)|replace(": ''", ': ""') -}}
